<footer>
    <div id="footerContainer">
        <div class="contactoContainer footerSection">
            <h3>Ayuda</h3>
            <ul class="listContent">
                <li><p>En Digital Pharma nuestra prioridad sos vos, no dejes de escribinos por tus consultas.</p></li>
                <li>+33 5482 4511</li>
                <li>digitalphama@gmail.com</li>
            </ul>
        </div>

        <div class="redesContainer footerSection">
            <h3>Redes sociales</h3>
            <ul class="listContent">
                <li>
                    <a href="https://es-la.facebook.com/" class="redesLink"><i class="fab fa-facebook redesIcon"></i>Facebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/login?lang=es" class="redesLink"><i class="fab fa-twitter redesIcon"></i>Twitter</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/accounts/login/" class="redesLink"><i class="fab fa-instagram redesIcon"></i>Instagram</a>
                </li>
            </ul>
        </div>

        <div class="listContent footerSection">
            <h3>Locales</h3>
            <ul class="listContent">
                <li>CABA</li>
                <li>Cordoba Capital</li>
                <li>Neuquén</li>
            </ul>
        </div>
    </div>
</footer>