<footer>
    <div id="footerContainer">
        <div class="footerDiv">
            <h3>Atención al cliente</h3>
            <ul class="listContent">
                <li><p>En Digital Pharma nuestra prioridad sos vos, no dejes de contactarnos por culaquier consulta</p></li>
                <li class="contact">+33 5482 4511</li>
                <li class="contact">digitalpharma@gmail.com</li>
            </ul>
        </div>
        <div class="footerDiv">
            <h3>Redes sociales</h3>
            <ul class="listContent">
                <li class="redSocial">
                    <a href="https://es-la.facebook.com/" class="redesLink"><i class="fab fa-facebook redesIcon"></i>Facebook</a>
                </li>
                <li class="redSocial">
                    <a href="https://twitter.com/login?lang=es" class="redesLink"><i class="fab fa-twitter redesIcon"></i>Twitter</a>
                </li>
                <li class="redSocial">
                    <a href="https://www.instagram.com/accounts/login/" class="redesLink"><i class="fab fa-instagram redesIcon"></i>Instagram</a>
                </li>
            </ul>
        </div>
        <div class="footerDiv">
            <h3>Locales</h3>
            <ul class="listContent">
                <li>CABA</li>
                <li>Cordoba Capital</li>
                <li>Neuquén</li>
            </ul>
        </div>
    </div>
</footer>