<header>
    <section id="headerContainer">
        <a class="navbar-brand col-md-2 brandLogoDiv" href="/">
            <img id="logoImg" src='/images/logo/logo-nuevo-3.svg' alt="Imagen logo">
        </a>
        <section id="headerItems">
            <div id="containerFluid">
                <form id="searchBar" action="/productos/search" method="GET">
                    <input name = 'searchQuery'class="form-control me-2 col-11" type="search" placeholder="Busca tu producto" aria-label="Search">
                    <!-- <button class="btn btn-outline-success col-1" type="submit"><i class="fas fa-search"></i></button> -->
                </form>
                <a href="/cuenta/cart" class="col-md-1 linkLogo"><i class="fas fa-cart-plus cart-image dontShowCart"></i></a>
                <a href="/cuenta/profile" class="col-md-1 linkLogo"><i class="fas fa-user"></i></a>
            </div>
            <div id="buttonYmenu">
                <button id="menuButton"><i class="fas fa-grip-lines menuButtonIcon"></i></button>
                <div id="dropDownMenu" class="menuOff">
                    <ul id="menuContent">
                        <div id="dropDownItemsMobile">
                            <li class="menuItem"></li>
                            <form id="searchBar">
                                <input class="form-control me-2 col-11" type="search" placeholder="Busca tu producto"
                                    aria-label="Search">
                                <!-- <button class="btn btn-outline-success col-1" type="submit"><i class="fas fa-search"></i></button> -->
                            </form>
                            </li>
                            <li class="menuItem">
                                <a href="/cuenta/profile"><i class="fas fa-user-nurse profile menuItemButton"></i> MI
                                    PERFIL
                                </a>
                            </li>
                            <li class="menuItem">
                                <a href="/cuenta/cart"><i class="fas fa-cart-plus cart menuItemButton"></i> MI COMPRA
                                </a>
                            </li>
                        </div>
                        <li class="menuItem">
                            <a href="/productos"> TODOS LOS PRODUCTOS </a>
                        </li>
                        <li class="menuItem">CATEGORIES: </li>
                        <li class="menuItem">
                            <a href="/productos/categories/1">Cuidado bucal</a>
                        </li>
                        <li class="menuItem">
                            <a href="/productos/categories/2">Cuidado corporal</a>
                        </li>
                        <li class="menuItem">
                            <a href="/productos/categories/3">Cuidado facial</a>
                        </li>
                        <li class="menuItem">
                            <a href="/productos/categories/4">Verano</a>
                        </li>
                        <li class="menuItem">
                            <a href="/productos/categories/5">Capilar</a>
                        </li>
                        <li class="menuItem">
                            <a href="/productos/categories/6">Higiene</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    <!-- <section class="headerContainer">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand col-md-2" href="/">
                    <img class="logo-digital" src='/images/logo/logo-nuevo-1.svg' alt="Imagen logo">
                </a>
                <form class="d-flex col-md-7">
                    <input class="form-control me-2 col-11" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success col-1" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <a href="/cuenta/cart" class="col-md-1"><i class="fas fa-cart-plus cart-image dontShowCart"></i></a>
            </div>
        </nav>
        <div id="buttonYmenu">
            <button id="menuButton"><i class="fas fa-grip-lines menuButtonIcon"></i></button>
            <div id="dropDownMenu" class="menuOff">
                <ul id="menuContent">
                    <li class="menuItem">
                        <a href="/cuenta/profile"><i class="fas fa-user-nurse profile menuItemButton"></i> MI PERFIL
                        </a>
                    </li>
                    <li class="menuItem">
                        <a href="/cuenta/cart"><i class="fas fa-cart-plus cart menuItemButton"></i> MI COMPRA </a>
                    </li>
                    <li class="menuItem">
                        <a href="/productos"> TODOS LOS PRODUCTOS </a>
                    </li>
                </ul>
            </div>
        </div>
        </section> -->
</header>
<script src="/jsFront/headerJsFront.js" type="text/javascript"></script>