<header>
    <div class="barra-superior">
       <span class="logo-search">
       <span class="logo"><img src='' alt="Imagen logo"></span>
       <span class="search">
           <input type="search" value="Search">
       </span>
   </span>
       <span class="barra-icons">
       <span><i class="fas fa-shopping-cart"></i></span>
       <span><i class="fas fa-user"></i></span>
       </span>
     </div>
     <div class="barra-inferior">
         <span class="boton1">Select</span>
         <span class="boton2">Button</span>
         <span class="boton3">Button</span>
         <span class="boton4">Button</span>

     </div>
   </header>