<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>ACA IRIA EL HEADER</header>
    <h2>Tu Carrito</h2>
    <section>
        <article>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h3>Nombre Producto 1</h3>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aliquam quod possimus explicabo incidunt, architecto rerum consequatur debitis nemo reiciendis eos. Provident voluptas, molestiae exercitationem alias necessitatibus iure quia mollitia.</h5>
                <h4>Precio</h4>
            </div>
            <div>
                <button>Icono-borrar-elemento</button>
            </div>
        </article>
    </section>
    <section>
        <button>Seguir Comprando</button>
        <button>Finalizar Compra</button>
    </section>
</body>
</html>