<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Tu carrito', stylesheet: 'carrito.css'}) %>
</head>
<body>
    <header class="referencia-del-header">ACA IRIA EL HEADER</header>
    <h2 class="titulo">Tu Carrito</h2>
    <div class="contenedor-carrito">
        <section class="lista-productos">
            <article class="producto">
                <div class="contenedor-img-info">
                    <div class="contenedor-img">
                        <img src="./images/crema-img.jpg" alt="">
                    </div>
                    <div class="info-producto">
                        <h3 class="nombre-producto">Crema Generica</h3>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </p>
                        <h4 class="precio-producto">Precio</h4>
                    </div>
                </div>
                <div class="contenedor-boton-borrar">
                    <form action="">
                        <button type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </article>

            <article class="producto">
                <div class="contenedor-img-info">
                    <div class="contenedor-img">
                        <img src="./images/crema-img.jpg" alt="">
                    </div>
                    <div class="info-producto">
                        <h3 class="nombre-producto">Crema Generica</h3>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </p>
                        <h4 class="precio-producto">Precio</h4>
                    </div>
                </div>
                <div class="contenedor-boton-borrar">
                    <button type="button"><i class="fas fa-trash-alt"></i></button>
                </div>
            </article>

            <article class="producto">
                <div class="contenedor-img-info">
                    <div class="contenedor-img">
                        <img src="./images/crema-img.jpg" alt="">
                    </div>
                    <div class="info-producto">
                        <h3 class="nombre-producto">Crema Generica</h3>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </p>
                        <h4 class="precio-producto">Precio</h4>
                    </div>
                </div>
                <div class="contenedor-boton-borrar">
                    <button type="button"><i class="fas fa-trash-alt"></i></button>
                </div>
            </article>
            <div class="precio-a-pagar">
                <div>
                    <p>Descuento/s: </p>
                    <p>10%</p>
                </div>
                <div class="total-a-pagar">
                    <h3>Total: </h3>
                    <h3>$1000</h3>
                </div>
            </div>
        </section>
    </div>
    <section class="botones">
        <button>Seguir Comprando</button>
        <button>Finalizar Compra</button>
    </section>
</body>
</html>

