<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: editarParam.name, stylesheet: 'edit-style.css'}) %> 
    
</head>
<body>
    <%- include('./partials/header') %> 
    <main>
        <form action="/products/ID/?_method=PUT" method="POST">
            <div>
                
            </div>
        </form>
    <%- include('./partials/footer') %> 
</body>
</html>