<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Home', stylesheet: 'homeStyle.css'}) %>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
      <div class="carousel"><H1>ACA IRIA EL CAROUSEL SLIDER</H1></div>
        <!--carousel slider-->
        <div class="products">
         <div class="product1">      
      <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>
       </div>

         <div class="product2"> 
         <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>
       </div>

         <div class="product3">
       <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>
       </div>

         <div class="product4">
       <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>
       </div>

        <div class="product5"> 
       <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>
       </div>
       </div>


    </main>
    <%- include('./partials/footer') %> 
</body>
</html>