<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Home', stylesheet: 'home-style.css'}) %>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <!--carousel slider-->
        <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>

         <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>

         <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>

         <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>

         <div class="image-product"><img src='' alt="Imagen producto"></div>
        <div class="nombre-producto">Producto</div>
        <label for="selector">Select</label>
         <select name="producto" id="producto">
                <option value="producto1">Producto1</option>
                <option value="producto2">Producto2</option>
                <option value="producto3">Producto3</option>
                <option value="producto4">Producto4</option>
         </select>


    </main>
    <%- include('./partials/footer') %> 
</body>
</html>