<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
     <div class="barra-superior">
        <span class="logo-search">
        <span class="logo"><img src='' alt="Imagen logo"></span>
        <span class="search">
            <input type="search" value="Search">
        </span>
    </span>
        <span class="barra-icons">
        <span><i class="fas fa-shopping-cart"></i></span>
        <span><i class="fas fa-user"></i></span>
        </span>
      </div>
      <div class="barra-inferior">
          <span class="boton1">Select</span>
          <span class="boton2">Button</span>
          <span class="boton3">Button</span>
          <span class="boton4">Button</span>

      </div>
    </header>
    <main>
        <form method="POST" action="/">
            <div class="image-user"><img src='' alt="Imagen usuario"></div>
            <div class="user-pass">
            <label for="nombre-usuario">USUARIO</label>
            <input id="nombre-usuario" name="nombre-usuario" required>
            <label for="contraseña">CONTRASEÑA</label>
            <input type="password" id="password"  name="password" required>
            </div>
            <div class="buttons">
            <span class="button"><button type="submit">Button</button></span>
            <span class="button"><button type="reset">Button</button></span>
            </div>
        </form>
    </main>
    <footer>
        <div class="objetos-footer">
            <div class="objeto-footer1">
            <h3>Contacto</h3>
            <ul>
                <li>Telfono</li>
                <li>Email</li>
            </ul>
            </div>
            <br>
            <div class="objeto-footer2">
            <h3>Redes sociales</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
            </div>
            <br>
            <div class="objeto-footer3">
            <h3>Ayuda</h3>
            <p>Lorem ipsum</p>
            </div>
        </div>
    </footer>
</body>
</html>