<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Log-in', stylesheet: 'loginStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <form method="POST" action="/">
            <div class="image-user"><img src='' alt="Imagen usuario"></div>
            <div class="user-pass">
            <label for="nombre-usuario">USUARIO</label>
            <input id="nombre-usuario" name="nombre-usuario" required>
            <label for="contraseña">CONTRASEÑA</label>
            <input type="password" id="password"  name="password" required>
            </div>
            <div class="buttons">
            <span class="button"><button type="submit">Button</button></span>
            <span class="button"><button type="reset">Button</button></span>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>