<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Log-in', stylesheet: 'loginStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2>INICIÁ SESIÓN</h2>
        <form method="POST" action="/login" class="form-login">
            <div class="form-and-logo">    
                <div class="image-user">
                    <i class="fas fa-users"></i>
                </div>
                <div class="user-pass">
                    <div class="username">
                        <label for="nombre-usuario">USUARIO</label>
                        <input id="nombre-usuario" name="nombreUsuario" required>
                    </div>
                    <div class="password">    
                        <label for="contraseña">CONTRASEÑA</label>
                        <input type="password" id="password"  name="password" required>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="button"><button type="submit">INGRESAR</button></div>
                <div class="button"><button type="reset">BORRAR DATOS</button></div>
            </div>
            <div class="contenedor-link"><a class="link-redireccion" href="/register">¿Aún no tienes cuenta?</a></div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>