<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <form method="POST" action="/">
            <div class="image-user"><img src='' alt="Imagen usuario"></div>
            <div class="user-pass">
            <label for="nombre-usuario">USUARIO</label>
            <input id="nombre-usuario" name="nombre-usuario" required>
            <label for="contraseña">CONTRASEÑA</label>
            <input type="password" id="password"  name="password" required>
            </div>
            <div class="buttons">
            <span class="button"><button type="submit">Button</button></span>
            <span class="button"><button type="reset">Button</button></span>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>