<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Listado de productos', stylesheet: 'productsStyle.css'}) %>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <h3>Listado de productos</h3>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>