<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title:'Tu perfil', stylesheet:'profileStyle.css'}) %>
</head>
<body>
    <%- include ('partials/header') %> 
    <main id="mainProfile">
        <h2>Bienvenido <%= user.name %> </h2>
        <form action="/productos">
            <button type="submit">Productos</button>
        </form>
    </main>
    <%- include ('partials/footer') %> 
</body>
</html>