/* 
VERDE (principal) #0FD24C 
GRIS OSCURO(muy oscuro)  #BDC0C7 
GRIS(azulado) #BFD8BD 
GRIS CLARO (intermedio) #DDE7C7 
GRIS CLARO (casi blanco) #F5F5F5 
 */

*{
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}

.referencia-del-header{
    background-color: #0FD24C;
    width: 100%;
    height: 150px;
}


.titulo{
    text-align: center;
    margin: 40px 0px;
    font-size: 30px;
}



.contenedor-carrito{
    background-color: #FFF;
    
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    
    padding: 20px 0px;
    /* border-top: solid 2px #DDE7C7;
    border-radius: 5px; */
    margin: auto;
}

.lista-productos{
    width: 100%;
}

.botones{
    width: 100%;
}

.producto{
    height: 115px;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 20px;
}

.contenedor-img{
    width: 20%;
    max-width: 105px;
    min-width: 45px;
    border: solid 2px #DDE7C7;
    border-radius: 5px;
}

.contenedor-img img{
    width: 100%;
    max-width: 100px;
    min-width: 40px;
    border-radius: 5px;
}

.contenedor-img-info{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.info-producto{
    width: 75%;


}
.nombre-producto{
    color: black;
    font-size: 16px;
    margin: 0px;
    width: 100%;
    position: relative;
    top: -5px;


}
.precio-producto{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0FD24C;
    font-size: 14px;
    width: 100%;
    position: relative;
    bottom: -5px;
}
.contenedor-boton-borrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 10px;
    
}
.contenedor-boton-borrar button{
    border: none;
    background-color: inherit;

}
.contenedor-boton-borrar button i{
    font-size: 1.5rem;
}

.descripcion-producto{
    display: none;
    width: 100%;
    font-size: 14px;
}






.producto:hover{
    background-color: #F5F5F5 ;
}

.contenedor-boton-borrar button i:hover{
    color: red;
}

@media(min-width:760px){
    .descripcion-producto{
        margin: 0px;
        display: block;
    }
    .producto{
        height: 150px;
    }
    .nombre-producto{
        position: inherit;
    }


    .info-producto{
        height: 90px;
        /* width: 80%; */
        display: flex;
        flex-wrap: wrap;
        /* align-content: flex-start; */
        justify-content: flex-start;
    }
    .contenedor-carrito{
        width: 60%;
        border-radius: 5px;
        padding: 30px;
    }
}