body{
    background-color: #F5F5F5;
}
#titulo{
    color: #33189b;
    font-size: 16px;
    margin: 30px;
    margin-bottom: 10px;
}
#cartProductsList{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    margin: auto;
}
.cartProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F54c8a;
    border-radius: 10px;
    width: 98%;
    padding: 10px 20px;
    margin: 10px auto;
    transition: all 200ms;
}
.cartProduct:hover{
    background-color: #F5F5F5 ;
}
.imageDiv{
    width: 30%;
    max-width: 105px;
}
.imageDiv img{
    border-radius: 10px;
    width: 100%;
    margin: auto;
}
.infoContainer{
    width: 100%;
}
.topInfoDiv{
    width: 75%;
    margin-bottom: 10px;
}
.nombre-producto{
    color: #372770;
    font-size: 16px;
    margin: 0px;
}
.descripcionProducto{
    display: none;
}

.bottomInfoDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
}
.precioProducto{
    margin: 0;
    font-size: 14px;
    color: #F54c8a;
}
.bottomInfoDiv button{
    background-color: inherit;
    border: none;
}
.deleteIcon{
    font-size: 1.25rem;
    cursor: pointer;
    color: #372770;
}
.deleteIcon:hover{
    color: red;
}
#totalPrice{
    margin-top: 15px;
    border-top: 2px solid #9fc9f1;
    padding-left: 20%;
}
#totalPrice h3{
    color: #9fc9f1;
    font-size: 18px;
}
#purchaseButtons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
#purchaseButtons button{
    font-size: 16px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: #372770;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #9fc9f1;
    transition: all 1s;
}
#purchaseButtons button:hover{
    background-color: #9fc9f1;
}
#emptyCartSign{
    color: #372770;
    display: block;
    font-size: 25px;
    margin-left: 35%;
    padding-bottom: 300px;
}

/* #recommendedSection{
    width: 90vw;
    margin: auto;
}
.recommendedProductImg{
    width: 80%;
} */

@media(min-width:760px){
    #cartProductsList{
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        border: 3px solid #9fc9f1;
    }
    .descripcionProducto{
        display: inline-block;
    }
    .deleteIcon{
        font-size: 22px;
        padding-bottom: 30px;
    }
    #purchaseButtons{
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 92%;
        margin: 20px auto;
    }
    #purchaseButtons button{
        width: 40%;
    }
}