body{
    background-color: white;
}
main{
    width: 90vw;
    margin: auto;
    font-size: 15px;
    margin-bottom: 20px;
}
.links{
    margin-top: 10px;
}
#detailProductCard{
    background-color: #eef3f8;
    margin: auto;
    width: 95%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.07), 
    1px 4px 6px rgba(0,0,0,0.07), 
    1px 6px 10px rgba(0,0,0,0.07), 
    1px 10px 18px rgba(0,0,0,0.07),
    1px 16px 34px rgba(0,0,0,0.07), 
    1px 34px 66px rgba(0,0,0,0.07);
}
#productName{
    display: block;
    font-size: 25px;
    padding: 15px 0 0 20px;
    color: #372770;
}
#cardImage{
    margin: auto;
    width: 90%;
}
#productImage{
    margin: auto;
    width: 100%;
    border-radius: 7px;
}
#cardText{
    width: 90%;
    margin: auto;
}
#pricing{
    display: flex;
    justify-content: space-between;
    color: #F54c8a;
    font-size: 18px;
}
#userButtons{
    width: 85%;
    margin: auto;
}
#buttonQuantity{
    margin: auto;
    text-align: center;
}
#quantityLabel{
    padding-right: 10px;
    color: #372770;
}
#cartDiv{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#buttonCart {
    background-color: #eef3f8;
    border: solid #372770 1px;
    border-radius: 100px;
    color: #372770;
    font-size: 16px;
    padding: 7px 15px;
    transition: 0.5s;
}
#buttonCart:hover{
    background-color: #9fc9f1;
}
#editLinkDiv{
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: solid #372770 1px;
    border-radius: 100px;
    text-decoration: none;
}
#editLink{
    color: #372770;
    font-size: 16px;
    background-color: #eef3f8;
}
#editLink:hover{
    background-color: #9fc9f1;
}
#deleteButton{
    padding: 10px 15px;
    color: #372770;
    font-size: 16px;
    background-color: #eef3f8;
    border: solid #372770 1px;
    border-radius: 100px;
}
#deleteButton:hover{
    background-color: #9fc9f1;
}

@media (min-width: 760px){
    #cardFlex{
        display: flex;
        justify-content: space-between;
    }
    #cardImage{
        padding-left: 20px;
    }
    #cardText{
        padding: 0 10%;
    }
}

@media (min-width: 1024px){
    #userButtons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #cartDiv{
        margin-top: 0;
    }
    #employeeButtons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #editLinkDiv{
        margin: 0;
    }
}