/* 33189b - violeta
9fc9f1 - celeste
eef3f8 - celeste claro
f03e36 - rojo 
fdf3e6 - crema */
#footerContainer{
    background-color: #f03e36;
    color: #000;
    position: relative;
    bottom: 0;
    padding: 20px 30px 0px;
}
.footerDiv{
    margin-bottom: 15px;
}
.listContent {
    list-style-type: none;
    padding-left: 0;
}
h3{
    color: #33189b;
}
li{
    padding: 5px 0;
}
.redSocial{
    width: fit-content;
}
.redesIcon{
    padding-right: 10px;
    font-size: 18px;
    color: #33189b;
    transition: 0.6s;
}
.redesLink{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: 0.6s;
}
.redSocial:hover .redesIcon{
    color: #9fc9f1;
}
.redSocial:hover .redesLink{
    color: #9fc9f1;
}
@media (min-width: 760px){
    #footerContainer{
        display: flex;
        justify-content: space-between;
    }
    .footerDiv{
        width: 30%;
    }
}