/* 33189b - violeta
9fc9f1 - celeste
eef3f8 - celeste claro
f03e36 - rojo 
fdf3e6 - crema */
*{
    font-family: 'Lato', sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
}
button{
    cursor: pointer;
}
#headerContainer{
    background-color: #f03e36;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brandLogoDiv{
    width: 100px;
    min-width: 80px;
    position: absolute;
    left: 5%;
    top: 35px;
}
#containerFluid{
    display: none;
}
#menuButton{
    padding: 10px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 50px;
    margin-top: -21px;
}
.menuButtonIcon{
    color: #33189b;
    font-size: 20px;
}
#dropDownMenu{
    position: absolute;
    width: 78%;
    z-index: 10;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    background-color: #9fc9f1;
}
#menuContent{
    padding-left: 10px;
    list-style-type: none;
}
.menuOff{
    display: none;
}
/*
.searchSmallScreen input {
    padding: 15px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background-color: #F0E5D8;
    color: #fff;
    border: none;
    font-size: 18px;
    font-family: 'Forum', cursive;
    color: #055052;
}
*/
.menuItemButton{
    font-size: 20px;
    color: #33189b;
    padding-right: 10px;
}
.menuItem{
    margin: 8px;
    padding: 5px 0;
}
.menuItem a{
    text-decoration: none;
    color: #33189b;
}
.dontShowCart{
    display: none;
}
.cart-image{
    font-size: 24px;
    color: black;
}
.navbar{
    justify-content: center;
}
@media (min-width: 460px) {
    /* #buttonYmenu{
        display: none;
    } */
    .notShowSearchbar{
        display: inline-block;
    }
    .dontShowCart{
        display: inline-block;
    }
    .largeScreenTopHeader{
        display: flex;
    }
}