body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
}



.barra-superior {
    display: flex;
    padding: 30px;
    background-color: #0FD24C;
    justify-content: space-around;
}

header{
    background-color: #0FD24C;
}

.barra-icons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    /* padding-top: 25px; */
    /* align-content: center; */
    margin: auto;
}

.boton{
    width: 48%;
    background: none;
    border: none;
}

.boton span i{
    cursor: pointer;
}
.barra-icons form {
    width: 48%;
    /* align-self: center; */
}
.barra-icons i {
    font-size: 2em;
    /* align-self: center; */
}


.search input {
    padding-left: 10px;
    width: 90%;
    height: 40px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: white;
    border: none;
    border-right: 0.3px grey solid;

}
.search button{
    width: 10%;
    background-color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    height: 40px;
}
.search{
    display: flex;
    justify-content: space-between;
    width: 84%;
    padding: 20px;
   align-self: center;
}


.logo-search{
    display: flex;
    justify-content: space-between;
    width: 84%;
}
.logo-img{
    width: 100%;
    border-radius: 100%;
}
.logo {
    width: 13%;
    min-width: 75px;
    /* height: 25px; */

}

.objetos-footer {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #0FD24C;
    
}

.barra-inferior {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

ul {
    list-style-type: none;
}

.botonesMenu {
   border: 1px solid black ;
   width: 25%;
   /* text-align: left; */
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
   height: 60%;
}

.botonesMenu a{
    color: black;
    text-decoration: none;
}
/* .boton2 {
    border: 1px solid black ;
   width: 20%;
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton3 {
    border: 1px solid black ;
   width: 20%;
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton4 {
    border: 1px solid black ;
    width: 20%;
    text-align: center; 
    padding: 5px;
    border-radius: 5px;
    background-color: #0FD24C;
}
  */