/* 33189b - violeta
372770 - violeta más tranqui
9fc9f1 - celeste
eef3f8 - celeste claro
f03e36 - rojo 1
F54c8a - rojo 2
fdf3e6 - crema */
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:black
}
#headerContainer{
    background-color: #9fc9f1;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brandLogoDiv{
    width: 100px;
    min-width: 80px;
    position: absolute;
    left: 7%;
    top: 35px;
}
#containerFluid{
    display: none;
}
#menuButton{
    padding: 10px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 50px;
    margin-top: -21px;
}
.menuButtonIcon{
    color: #372770;
    font-size: 20px;
}
.menuOff{
    display: none;
}
#dropDownMenu{
    position: absolute;
    width: 78%;
    z-index: 10;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    background-color: #372770;
}
#menuContent{
    padding: 0 10px;
    list-style-type: none;
}
.menuItemButton{
    font-size: 20px;
    color: #fdf3e6;
    padding-right: 10px;
}
.menuItem{
    margin: 8px;
    padding: 5px 0;
    font-size: 14px;
    color: #fdf3e6;
}
.menuItem a{
    text-decoration: none;
    color: #fdf3e6;
}
#searchBar{
    display: flex;
}
#searchBar input{
    background-color: #9fc9f1;
    color: #fdf3e6;
    font-size: 14px;
    padding: 0 15px;
    width: 230px;
    height: 30px;
    border: none;
    border-radius: 7px;
}
#searchBar input::placeholder{
    color: #372770;
    font-weight: 400;
    font-size: 14px;
}
.categoriesSectionTitle{
    color: #9fc9f1;
}
#categoriesSection{
    padding-left: 25px;
}
.linkLogo{
    text-decoration: none;
    color: #372770;
    font-size: 25px;
    padding-left: 40px;
}
@media (min-width: 675px) {
    #dropDownItemsMobile{
        display: none;
    }
    #menuButton{
        padding: 10px;
        right: 20px;
        top: 50px;
    }
    #containerFluid{
        position: absolute;
        top: 35px;
        right: 90px;
        display: flex;
        justify-content: space-between;
    }
    #dropDownMenu{
        width: fit-content;
        right: 2%;
        left: auto;
        top: 85px;
    }
    #searchBar input{
        background-color: #372770;
        color: #fdf3e6;
    }
    #searchBar input::placeholder{
        color: #fdf3e6;
    }
}