body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
}



.barra-superior {
    display: flex;
    padding: 30px;
    background-color: #0FD24C;
    justify-content: space-around;
    
    
    
}

.barra-icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.barra-icons i {
    font-size: 2em;
}


.search input {
    width: 600px;
}



.logo {
    width: 25%;
    height: 25%;

}



.objetos-footer {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #0FD24C;
    
}

.barra-inferior {
    display: flex;
    justify-content: center;
    
    
}

ul {
    list-style-type: none;
}

.boton1 {
   border: 1px solid black ;
   width: 20%;
   text-align: left;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton2 {
    border: 1px solid black ;
   width: 20%;
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton3 {
    border: 1px solid black ;
   width: 20%;
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton4 {
    border: 1px solid black ;
    width: 20%;
    text-align: center; 
    padding: 5px;
    border-radius: 5px;
    background-color: #0FD24C;
}
 