/*
colores: 
beige: #F0E5D8
verde turquesa: #75CFB8
verde oscuro: #055052
verde claro: #BBDFC8
*/
*{
   margin: 0;
}
main{
   margin: 0px;
   background-color: #eef3f8;
}

.products {
   display: flex;
   justify-content: space-between; 
}

.carousel{
   /* background-color: #F0E5D8; */
   /* display: none; */
   /* width: 100%; */
   /* max-height: 450px; */
   /* max-height: 255px; */
   /* height: 100%; */

   margin: auto;
   margin-top: 20px;
/*    margin-top: 40px;
   padding-top: 20px ; */
   /* margin-bottom: 90px; */
   /* position: absolute; */
   /* overflow: hidden; */
}
.carousel-img{
   width: 100%;
   /* height: 80%;
   object-fit: ; */
   /* width: 450px; */
   /* height: 400px; */
}
.carousel-container{
   /* max-width: 1000px; */
  position: relative;
  margin: auto;
   /* height: 150px; */
   /* position: absolute; */
}
.carousel-img-container a img{
   width: 100%;
}

.carousel-button{
   position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 22px;
  /* color: white; */
  background-color: transparent;

  /* user-select: none; */
  border: none;

}

.right{
   right: 0px;
}
.carousel-button:hover{
   background-color: #f8f2ea7a;
   border-radius: 4px;
}




.productos {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   padding: 10px;
   justify-content: space-between;
}
.producto {
   width: 100%;
   margin: 30px auto;
   background-color: white;
   border-radius: 8px;
   padding: 10px;

   box-shadow: 0 1px 2px rgba(39, 39, 39, 0.07), 
                0 2px 4px rgba(39, 39, 39, 0.07), 
                0 4px 8px rgba(39, 39, 39, 0.07), 
                0 8px 16px rgba(39, 39, 39, 0.07),
                0 16px 32px rgba(39, 39, 39, 0.07), 
                0 32px 64px rgba(39, 39, 39, 0.07);
}
.productImg {
   width: 100%;
   border-radius: 5px;
   padding-bottom: 10px;
}
.price{
   color: #0FD24C;
   font-size: 15px;
   padding-bottom: 4px;
   width: 60%;
}

a{
   color: black;
   font-style: none;
   text-decoration: none;
}

.productName {
   color: black;
   padding-bottom: 15px;
   font-size: 15px;
   word-wrap: break-word;
}

.productInfo{
   padding: 15px 7px;
   border-top: 1.5px solid #d9dee2;
}

.productDescription{
   display: none;
   height: 0px;
   color: transparent;
   font-size: 15px;
}

@media (min-width: 768px) {
   .producto {
       width: 40%;
      }
   .productName{
         font-size: 20px;
   }

   .producto:hover{
      box-shadow: 1px 3px 4px rgba(0,0,0,0.07), 
                  1px 4px 6px rgba(0,0,0,0.07), 
                  1px 6px 10px rgba(0,0,0,0.07), 
                  1px 10px 18px rgba(0,0,0,0.07),
                  1px 16px 34px rgba(0,0,0,0.07), 
                  1px 34px 66px rgba(0,0,0,0.07);
                

   }
}
@media (min-width: 1025px) {
   .productDescription{
      display: block;
   }
   .producto {
       width: 21%;
       height: 400px;
       transition: height 200ms;
   }
   .productos{
      height: 500px;
      padding-bottom: 100px;
   }

   
   .producto:hover{
      height: 440px;
   }

   .producto:hover .productDescription{
      height: 55px;
      padding: 10px 0px;
      color: #a8aaac;
      word-wrap: break-word;
   }

   .productPricing{
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      /* padding-bottom: 20px; */
   }


   .discount{
      width: 20%;
   }
   .price{
      width: 60%;
   }
}