/*
colores: 
beige: #F0E5D8
verde turquesa: #75CFB8
verde oscuro: #055052
verde claro: #BBDFC8
*/
*{
   margin: 0;
}
main{
   margin: 0px;
   background-color: #eef3f8;
}

.carousel{
   margin: auto;
}
.carousel-img{
   width: 100%;
}
.carousel-container{
  position: relative;
  margin: auto;
}
.carousel-img-container a img{
   width: 100%;
}
.carousel-button{
   position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 22px;
  background-color: transparent;
  border: none;

}
.right{
   right: 0px;
}
.carousel-button:hover{
   background-color: #f8f2ea7a;
   border-radius: 4px;
}

.ofertas{
   color: #33189b;
   font-size: 20px;
   padding-left: 35px;
   padding-top: 50px;
   padding-bottom: 10px;
   border-bottom: #d9dee2 2px solid;
}
.ofertas i{
   font-size: 20px;
   color: #372770;
}