form {
    /* display: flex; */
    /* justify-content: center; */
    margin: 50px 30px 90px 30px;

}

h2{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 25px;
    /* border-bottom: 0.1px solid grey; */
}
.contenedor-link{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.link-redireccion{
    margin: auto;
    color: blue;
    font-style: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.image-user i{
    font-size: 100px;
}
.form-and-logo{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.user-pass {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.button {
    margin-top: 15px;
    text-align: center;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* margin-top: 20px;
    margin-left: 10px; */
} 
.buttons{
    margin-top: 60px;
}
/* .button{ */
    /* width: 48%;
} */
.username{
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    margin-bottom: 15px;
}
.password{
    display: flex;
    flex-wrap: none;
    flex-direction: column;
}
.username label{
    font-size: 17px;
}
.password label{
    font-size: 17px;
}
.username input{
    width: 60%;
    border: 1px black solid;
    border-radius: 4px;
    background-color: white;
    height: 25px;
    margin-top: 10px;

}
.password input{
    width: 60%;
    border: 1px black solid;
    border-radius: 4px;
    background-color: white;
    height: 25px;
    margin-top: 10px;

}

.button button {
    /* border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: #0FD24C;
    border: none;
    color: black; */
    width: 100%;
    min-width: 94px;
    max-width: 450px;
    height: 50px;
    color: #0FD24C;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #0FD24C;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;

    transition: all 150ms;
} 
.buttons button:hover{
    background-color: #18e659;
    color: black;
}

.image-user {
  /* display: flex; */
    text-align: right;
  width: 40%;
}

