#titulo{
    color: #33189b;
    font-size: 16px;
    margin: 30px;
    margin-bottom: 10px;
}
.campo{
    max-width: 600px;
    margin: auto;
    padding: 15px 30px;
    font-size: 14px;
    transition: 0.5s;
}
.campo label{
    color: #F54c8a;
    font-size: 14px;
}
.dataInput{
    background-color: #eef3f8; 
    border: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 7px;
}
.dataInput:focus{
    outline: none;
}
#uploadImage{
    margin-top: 7px;
}
#submitButton{
    cursor: pointer;
    background-color: #eef3f8;
    border: 1px solid #33189b;
    border-radius: 100px;
    margin-top: 5px;
    padding: 10px 25px;
    transition: 0.3s;
    margin-bottom: 20px;
}
.cancelButton{
    display: block;
    text-align: center;
    margin: auto;
    background-color: #eef3f8;
    border: 1px solid #33189b;
    border-radius: 100px;
    /* margin-top: 5px; */
    padding: 10px 25px;
    transition: 0.3s;
    margin-bottom: 40px;
    width: 120px;
}
#submitDiv{
    display: flex;
    justify-content: center;
}
#submitButton:enabled:hover{
    background-color: #33189b;
    color: rgb(253, 243, 230);
}
#submitButton:disabled,
#submitButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.cancelButton:hover{
    background-color: #33189b;
    color: rgb(253, 243, 230);
}
.validation-error{
    color: red;
    font-size: 15px;
}


.invisible{
    display: none;
}
.acceptedInput{
    background-color: #EAF8DE;
    border: 2px solid #95DB57;
}

.validation-error-front{
    color: red;
    font-size: 14px;
    margin-bottom: 5px
}

.errorInput{
    border: red 1px solid;
}

@media (min-width: 760px){
    #titulo{
        font-size: 18px;
    }
}