.product-main{
    width: 90vw;
    margin: auto;
}
.area-prod{
    margin-top: 30px;
}
.container-img-prod{
    width: 100%;
}
.descripcion-prod, .componentes-prod{
    border: 1px #BFD8BD solid;
    margin: 10px 0;
    height: 60px;
}
.box-descripcion-prod, .box-componentes-prod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-hover-appear{
    display: none;
    padding: 0 15px;
}
.box-hover :hover .desc-comp-hover{
    height: fit-content;
}
.titulo-componentes-prod, .titulo-descripcion-prod{
    padding-left: 15px;
}
#logo-arrow{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #BFD8BD;
}
.form-compra{
    width: 100%;
}
.unidades-carrito{
    padding: 5px;
    border: none;
    display: flex;
    justify-content: space-around;
}
.caja-unidades{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
select#unidades{
    border: 1px solid #BDC0C7;
    border-radius: 5px;
}
label{
    padding: 5px;
}
#butt-add-carrito{
    width: 30%;
}
#butt-comprar-ahora{
    width: 100%;
    margin: 10px 0;
}
#butt-comprar-ahora, #butt-add-carrito{
    padding: 10px;
    background-color: #FFFFFF;
    border: #BDC0C7 1px solid;
    border-radius: 5px;
    transition: all 500ms;
}
#butt-comprar-ahora:hover{
    background-color: #0FD24C;
    color: #FFFFFF;
}
#butt-add-carrito:hover{
    background-color: #0FD24C;
    color: #FFFFFF;
}
.img-relacionado{
    width: 90%;
    border: 1px #000 solid;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}
@media (min-width:760px){
    .texto-descripcion-prod, .texto-componentes-prod{
        display: inline-block;
    }
    .descripcion-prod, .componentes-prod{
        height: fit-content;
    }
    .imagenes-relacionados{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img-relacionado{
        width: 30%;
    }
}
@media (min-width:1000px){
    .container-textos{
        display: flex;
        justify-content: space-between;
    }
    .desc-comp-hover{
        height: 185px;
    }
    .descripcion-prod{
        margin-right: 15px;
    }
    .componentes-prod{
        margin-left: 15px;
    }
}