body {
    margin: 0 ;
}
.listadoTitulo {
    color: #bec4bf;
}
.productos {
    display: flex;
    flex-wrap: wrap;
}
.producto {
    width: 90vw;
    margin: 30px;
    background-color: #ebebeb;
    padding: 10px;
}
.productImg {
    width: 100%;
}
@media (min-width: 760px) {
    .producto {
        width: 25vw;
    }
}