body {
   box-sizing: border-box;
   margin: 0;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
}
.listadoTitulo {
   color: #F54c8a;
   margin-left: 30px;
}
.botonFormulario{
   display: block;
   text-align: center;
   border-radius: 100px;
   border: 1px solid #372770;
   background-color: transparent;
   color: #372770;
   font-size: 16px;
   width: 80%;
   padding: 10px;
   margin: auto;
   transition: 0.3s;
   text-decoration: none;
}
.botonFormulario:hover{
   background-color: #9fc9f1;

}

@media (min-width: 1025px) {
   #buttonLink{
      width: 30%;
   }
}

@media (min-width: 768px) {
   #buttonLink{
      width: 40%;
   }
}