.productos {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
 }
 .producto {
    width: 100%;
    margin: 10px auto;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(39, 39, 39, 0.07), 
                0 2px 4px rgba(39, 39, 39, 0.07), 
                0 4px 8px rgba(39, 39, 39, 0.07), 
                0 8px 16px rgba(39, 39, 39, 0.07),
                0 16px 32px rgba(39, 39, 39, 0.07), 
                0 32px 64px rgba(39, 39, 39, 0.07);
 }
 .productImg {
    width: 100%;
    border-radius: 5px;
 }
 .productInfo{
    border-top: 1.5px solid #d9dee2;
 }
 a{
    color: black;
    font-style: none;
    text-decoration: none;
 }
 .productName {
    color: black;
    font-size: 15px;
    margin: 15px 0;
 }
 .productPricing{
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #F54c8a;
    font-size: 16px;
    font-weight: 500;
 }
 .price{
    margin: 0 0 6px 0;
 }
 .discount{
    margin: 0;
    font-weight: 600;
 }
 .productDescription{
    display: none;
    color: transparent;
    font-size: 15px;
 }
 
 @media (min-width: 768px) {
    .producto {
        width: 40%;
       }
    .productName{
          font-size: 20px;
    }
    .producto:hover{
       box-shadow: 1px 3px 4px rgba(0,0,0,0.07), 
                   1px 4px 6px rgba(0,0,0,0.07), 
                   1px 6px 10px rgba(0,0,0,0.07), 
                   1px 10px 18px rgba(0,0,0,0.07),
                   1px 16px 34px rgba(0,0,0,0.07), 
                   1px 34px 66px rgba(0,0,0,0.07), 
    }
 }
 
 @media (min-width: 1025px) {
    .productDescription{
       display: block;
    }
    .producto {
       width: 21%;
       height: 420px;
       transition: 200ms;
       padding-bottom: 40px;
    }
    .productos{
       height: 100%;
    }
    .producto:hover{
       height: 445px;
    }
    .producto:hover .productDescription{
       color: #a8aaac;
       word-wrap: break-word;
    }
 }