main{
    background-color: #eef3f8;
}
.container{
    padding-bottom: 30px;
}
h2{
    margin: 0px;
}
.container h3{
    color: #33189b;
}

.leftContainer{
    padding-top: 7%;
    margin: auto;
    text-align: center;
}
#profilePic{
    width: 60%;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(39, 39, 39, 0.07), 
    0 2px 4px rgba(39, 39, 39, 0.07), 
    0 4px 8px rgba(39, 39, 39, 0.07), 
    0 8px 16px rgba(39, 39, 39, 0.07),
    0 16px 32px rgba(39, 39, 39, 0.07), 
    0 32px 64px rgba(39, 39, 39, 0.07);
}
.leftContainer h4{
    color: black;
    font-size: 20px;
    margin-bottom: 0px;
}
.leftContainer h5{
    color: rgb(49, 49, 49);
    margin-top: 0px;
    padding-top: 10px;
    font-size: 15px;
}
.profileButton{
    border-radius: 100px;
    border: 1px solid #372770;
    color: #372770;
    font-size: 16px;
    width: 160px;
    padding: 10px;
    transition: 0.3s;
}
.profileButton:hover{
    background-color: #9fc9f1;
    font-weight: bold;
}
.createButton{
    margin-top: 20px;
}
.logout{
    margin-top: 20px;
}
.logout:hover{
    background-color: #F54c8a;
    color: black;
    border-color: black;

}

.rightContainer{
    margin: auto;
    padding-left: 15px;
}
.rightContainer h3{
    font-size: 23px;
}
.datos{
    font-size: 18px;
    width: 75%;
}
.label{
    box-shadow: 0 1px 2px rgba(39, 39, 39, 0.07), 
                0 2px 4px rgba(39, 39, 39, 0.07), 
                0 4px 8px rgba(39, 39, 39, 0.07), 
                0 8px 16px rgba(39, 39, 39, 0.07),
                0 16px 32px rgba(39, 39, 39, 0.07), 
                0 32px 64px rgba(39, 39, 39, 0.07);
    border-radius: 5px;
    margin-top: 30px;
}
.label p{
    word-break: break-all;
}
.datos h4{
    background-color: #9fc9f1;
    margin: 0px;
    padding: 10px 0px 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.rightContainer a{
    text-decoration: none;
    color: rgb(59, 59, 59);
}
.datos p{
    color: rgb(59, 59, 59);
    background-color: #b6d3ee;
    margin: 0px;
    padding: 10px 0px 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.datos p:hover{
    background-color: #9fc9f1;
}
.rightContainer i{
    display: none;
}
.datos p:hover i{
    display: inline;
}

@media (min-width: 768px){
    .container{
        display: flex;
        justify-content: space-between;
    }
    .rightContainer{
        width: 70%;
    }
}