.validation-error{
    font-size: 18px;
    color: red;
}
#titulo{
    margin: 40px;
    color: #372770;
    text-align: center;
    font-size: 30px;
}
#formularioRegistro{
    color: #000;
    width: 90vw;
    margin: auto;
    text-align: center;
}
label{
    margin: 10px;
    font-size: 16px;
    color: #de2f48;
    display: block;
}
input{
    margin: auto;
    background-color: transparent;
    border: solid 1px #de2f48;
    border-radius: 6px;
    padding: 5px;
}
#inputFotoPerfil{
    max-width: 280px;
}
/* .input-tipo-archivo{
    margin: 20px 0px;
    font-size: 12px;
    width: 125px;
} */

/* form div div div{
    margin: 300px 0px;
} */

.botonFormulario{
    border-radius: 100px;
    border: 1px solid #372770;
    color: #372770;
    font-size: 16px;
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    transition: 0.5s;
}
.botonFormulario:hover{
    background-color: #9fc9f1;
    font-weight: bold;
}