.validation-error{
    font-size: 18px;
    color: red;
}
#titulo{
    margin: 40px;
    color: #372770;
    text-align: center;
    font-size: 30px;
}
#formulario{
    color: #000;
    width: 90vw;
    margin: auto;
    text-align: center;
}
label{
    margin: 10px;
    font-size: 16px;
    color: #de2f48;
    display: block;
}
input{
    margin: auto;
    text-align: center;
    background-color: transparent;
    border: solid 1px #372770;
    border-radius: 6px;
    padding: 10px;
    width: 80%;
}
/* .input-tipo-archivo{
    margin: 20px 0px;
    font-size: 12px;
    width: 125px;
} */

/* form div div div{
    margin: 300px 0px;
} */
#divBotones{
    margin: 20px 0;
}
.botonFormulario{
    border-radius: 100px;
    border: 1px solid #372770;
    color: #372770;
    font-size: 16px;
    width: 150px;
    padding: 10px;
    margin: 7px;
    transition: 0.5s;
    text-decoration: none;
}
.botonFormulario:hover{
    background-color: #9fc9f1;
    font-weight: bold;
}
.botonLink{
    background-color: rgb(239, 239, 239);
    display: inline-block;
    width: fit-content;
}
@media (min-width: 1000px){
    input{
        width: 45%;
        
    }
}