body {
    font-family: 'Roboto', sans-serif;
}



.barra-superior {
    display: flex;
    padding: 30px;
    background-color: #0FD24C;
    justify-content: space-around;
    
    
    
}


.search input {
    width: 600px;
}



.logo {
    width: 25%;
    height: 25%;

}



.objetos-footer {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #0FD24C;
}

.barra-inferior {
    display: flex;
    justify-content: center;
    
    
}

ul {
    list-style-type: none;
}

.boton1 {
   border: 1px solid black ;
   width: 20%;
   text-align: left;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton2 {
    border: 1px solid black ;
   width: 20%;
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton3 {
    border: 1px solid black ;
   width: 20%;
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: #0FD24C;
}
.boton4 {
    border: 1px solid black ;
    width: 20%;
    text-align: center; 
    padding: 5px;
    border-radius: 5px;
    background-color: #0FD24C;
}
 form {
     display: flex;
     justify-content: center;
     margin: 11%;

 }

 .user-pass {
     display: flex;
     flex-direction: column;
 }

 .buttons {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin-top: 20px;
     margin-left: 10px;
 }

 .button button {
     border-radius: 10px;
 }

 .image-user {
   display: flex;
   
 }
 

.product-main{
    margin: 30px auto;
}
.area-prod{
    width: 100%;
}
.container-img-prod{
    width: 100%;
}
.descripcion-prod, .componentes-prod{
    width: 100%;
    border: 1px #BDC0C7 solid;
    margin: 10px 0;
    height: 60px;
}
.box-descripcion-prod, .box-componentes-prod{
    display: flex;
    width: 90vw;
    margin: auto;
}
.titulo-componentes-prod, .titulo-descripcion-prod{
    padding-left: 15px;
}
#logo-arrow{
    margin: auto 20px auto auto;
    font-size: 25px;
    color: #BFD8BD;
}
.texto-descripcion-prod, .texto-componentes-prod{
    opacity: 0;
}
#logo-arrow :active .descripcion-prod, .componentes-prod{
    height: fit-content;
}
#logo-arrow :active .texto-descripcion-prod, .texto-componentes-prod{
    opacity: 1;
}
.container-unidades{
    width: 80vw;
    margin: auto;
    border: 1px #BDC0C7 solid;
    border-radius: 10px;
}
/* @media (min-width:760px){
    .texto-descripcion-prod, .texto-componentes-prod{
        opacity: 1;
    }
    .descripcion-prod, .componentes-prod{
        height: fit-content;
    }
}
